<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新增页面</title>
</head>
<body>
 <form action="/add_user/" method="post">
        {% csrf_token %}
        <p style="text-align:center">账户：<input type="text" name="username" /></p>
        <p style="text-align:center">密码：<input type="password" name="password"/></p>
        <p style="text-align:center">地址：<input type="text" name="address"/></p>
        <p style="text-align:center">时间：<input type="date" name="create_date"/> </p>
        <p style="text-align:center">邮箱：<input type="text" name="email"/></p>
        <p style="text-align:center"><input type="submit" value="提交" />
        <p style="color: red;text-align: center">{{ error_name }}</p>
</form>
</body>
</html>