<!DOCTYPE html>
<html lang="en">
<head> <meta charset="UTF-8">
    <title>用户编辑</title>
    <style>
   form {
     margin : 20px auto ;
     width : 500px ;
     border : 1px solid #ccc;
     padding : 20px
     }
    </style>
</head>
<body>
<center>
    <tr>
      <h1>修改密码</h1>
           <form action="/edit_user/?id={{ ret.id }}" method="post">
               {% csrf_token %}
           密码：<input type="text" name="password" value="{{ ret.password }}">
      <input type="submit">
      </tr>
    <tr>
      <h1>修改住址</h1>
           <form action="/edit_user/?id={{ ret.id }}" method="post">
               {% csrf_token %}
           住址：<input type="text" name="address" value="{{ ret.address }}">
      <input type="submit">
      </tr>
    <tr>
      <h1>修改邮件</h1>
           <form action="/edit_user/?id={{ ret.id }}" method="post">
               {% csrf_token %}
           邮件：<input type="text" name="email" value="{{ ret.email }}">
      <input type="submit">
      </tr>
</center>
</body>
</html>
